In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Nagpur_restaurant.csv")

In [3]:
df

,Unnamed: 0,Name,Rating,Cuisine,Avg Rate,Area,Zone
0,0,Moti Mahal Delux Restaurant,4.4,"North Indian, Mughlai, Biryani",₹ 900 for 2 (approx),Sitabuldi,Central Nagpur
1,1,Corridor Seven Coffee Roaster,5.0,"Desserts, Continental",₹ 800 for 2 (approx),Sitabuldi,Central Nagpur
2,2,Jagat Restaurant,5.0,"North Indian, Chinese, Pizza, Street Food",₹ 600 for 2 (approx),Sitabuldi,Central Nagpur
3,3,Kalpataru,3.9,"North Indian, Asian, Desserts","₹ 1,600 for 2 (approx)","Hotel Hardeo,Sitabuldi",Central Nagpur
4,4,Side Walk,3.8,"North Indian, Continental, Chinese","₹ 1,900 for 2 (approx)","Hotel Hardeo,Sitabuldi",Central Nagpur
...,...,...,...,...,...,...,...
812,812,Spice Magic,NaN,North Indian,₹ 400 for 2 (approx),Gittikhadan,North Nagpur
813,813,Tauby's,NaN,"Desserts, Fast Food",₹ 500 for 2 (approx),Sadar,West Nagpur
814,814,The Biryani Destination,NaN,Biryani,₹ 300 for 2 (approx),Vivekanand Nagar,South Nagpur
815,815,Dineout SteppinOut Cookbook,NaN,NaN,₹ 900 for 2 (approx),Subhash Nagar,Central Nagpur
816,816,Singh's,NaN,"North Indian, Chinese",₹ 700 for 2 (approx),Dhantoli,West Nagpur

In [5]:
len(df[df['Rating']>4])

,Unnamed: 0,Name,Rating,Cuisine,Avg Rate,Area,Zone
0,0,Moti Mahal Delux Restaurant,4.4,"North Indian, Mughlai, Biryani",₹ 900 for 2 (approx),Sitabuldi,Central Nagpur
1,1,Corridor Seven Coffee Roaster,5.0,"Desserts, Continental",₹ 800 for 2 (approx),Sitabuldi,Central Nagpur
2,2,Jagat Restaurant,5.0,"North Indian, Chinese, Pizza, Street Food",₹ 600 for 2 (approx),Sitabuldi,Central Nagpur
5,5,Barbeque Nation,4.3,"North Indian, Chinese","₹ 2,000 for 2 (approx)","Eternity Mall,Sitabuldi",Central Nagpur
7,7,Robo 2.0,4.3,"North Indian, Chinese",₹ 800 for 2 (approx),"Eternity Mall,Sitabuldi",Central Nagpur
...,...,...,...,...,...,...,...
637,637,Haldiram's Express,5.0,"North Indian, Continental, South Indian, Chin...",₹ 500 for 2 (approx),Hingna T Point,South Nagpur
784,784,Hotel City Line,5.0,"Chinese, North Indian","₹ 1,000 for 2 (approx)",Gittikhadan,North Nagpur
793,793,Singh Saab,4.8,"Chinese, North Indian","₹ 1,100 for 2 (approx)",pachpaoli,East Nagpur
802,802,Kairos Restro,4.5,"Chinese, North Indian","₹ 1,000 for 2 (approx)",Vayu Sena,West Nagpur
803,803,Chokar Dhani,5.0,North Indian,₹ 600 for 2 (approx),Vayu Sena,West Nagpur